@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #264C24;
}

h1{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-transform: capitalize;
}

h2{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

p{
    font-weight:500;
}

html
{
    scroll-behavior: smooth;
}

body
{
    overflow-x: hidden;
}

section
{
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
}

img
{
    pointer-events: none;
}



